body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    perspective: 500px;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #fff;
    padding: 40px 80px;
    position: relative;
    transition: all 500ms;
    overflow: hidden;
}

a:before {
    content: "HOVER ME";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffa65;
    color: #272727;
    transform: scale(2);
    transition: transform 1s, opacity 1s;
    opacity: 0;
}

a:hover:before {
    transform: scale(1);
    opacity: 1;
}